<div>
  <!-- 工具機適應式熱平衡智控系統 -->
  <div class="container-sm">
    <div class="row text-center align-items-center" id="title">
      <div class="col-12">
        <h1>工具機適應式<br />熱平衡智控系統</h1>
        <p class="text-muted fs-2">Intelligent Precision WatchMan</p>
      </div>
    </div>
  </div>
  <br /><br /><br /><br />
  <!-- 卡片欄 -->
  <div class="container-sm">
    <!-- Card -->
    <div class="row info align-items-center" data-aos="zoom-in">
      <!-- 第一個卡片 -->
      <div class="col-lg-4">
        <div class="card gradient-border shadow">
          <div class="banner-image">
            <div class="card-body p-4">
              <p class="card-title text-center fs-2">
                <i class="bi bi-info-circle-fill"></i> 熱平衡
              </p>
              <hr />
              <p class="card-text fs-5">
                工具機結構熱平衡技術，主要針對工具機本身的內外部熱源，如馬達、主軸、軸承、螺桿、螺帽、軌道、或是周邊裝置等，均具有妥善的配置設計或抑制規劃，讓工具機結構本身可維持穩定且平衡的工作狀態，以保持高精度與高穩定的加工表現。
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- 第二個卡片 -->
      <div class="col-lg-4 text-center">
        <img
          src="../../assets/vue.png"
          alt="vue.js logo"
          style="height: 250px; width: 300px"
        />
      </div>
      <!-- 第三個卡片 -->
      <div class="col-lg-4">
        <div class="card gradient-border shadow">
          <div class="banner-image">
            <div class="card-body p-4">
              <p class="card-title text-center fs-2">
                <i class="bi bi-info-circle-fill"></i> IPW
              </p>
              <hr />
              <p class="card-text fs-5">
                工具機熱平衡精度智控盒(Intelligent Precision
                WatchMan;IPW)為全世界第一台內嵌次世代工具機適應式熱誤差控制系統。由創新的適應式熱平衡(Adaptive
                Thermal
                Balance)技術,在不變更工具機節構下,於加工即時改善至少80%的主軸偏擺誤差量。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- IPW介紹 -->
  <div class="container-sm">
    <!-- IPW 多通道溫度感知介面 -->
    <div class="row IPW align-items-center" data-aos="fade-right">
      <div class="col">
        <img src="../../assets/ipw1.png" alt="" class="rounded ipwimg" />
      </div>
      <div class="col">
        <h1>多通道溫度感知介面</h1>
        <p class="fs-5">
          提供20組溫度感知介面(ktype)與支援4組智慧主軸溫
          度感知介面(PT100)，即時監控機台關鍵溫度變化。
        </p>
      </div>
    </div>
    <!-- IPW 雙向溫度調控介面 -->
    <div class="row IPW my-2 align-items-center" data-aos="fade-right">
      <div class="col">
        <img src="../../assets/ipw2.png" alt="" class="rounded ipwimg" />
      </div>
      <div class="col">
        <h1>雙向溫度調控介面</h1>
        <p class="fs-5">
          提供10組智慧化雙向溫度調節裝置，可在未修改機台結構設計下實現適應式熱平衡概念。
        </p>
      </div>
    </div>
    <!-- IPW 嵌入式智慧聯網介面-->
    <div class="row IPW align-items-center" data-aos="fade-right">
      <div class="col">
        <img src="../../assets/ipw3.png" alt="" class="rounded ipwimg" />
      </div>
      <div class="col">
        <h1>嵌入式智慧聯網介面</h1>
        <p class="fs-5">
          支援雙頻2.4GHz和5GHz無線網路， 藍牙5.0/BLE ，
          RJ45介面，提供使用者透由有線/無線方式，連接即時監控軟體。
        </p>
      </div>
    </div>
    <br /><br />
  </div>

  <!-- 頁尾 -->
  <footer
    class="text-center text-lg-start text-white"
    style="background: rgb(27, 26, 26)"
  >
    <br />
    <!-- Section: Links  -->
    <section>
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="bi bi-info-circle"></i> IPW
            </h6>
            <p>
              工具機熱平衡精度智控盒(Intelligent Precision
              WatchMan;IPW)為全世界第一台內嵌次世代工具機適應式熱誤差控制系統。由創新的適應式熱平衡(Adaptive
              Thermal
              Balance)技術,在不變更工具機節構情形下,於加工即時改善至少80%的主軸偏擺誤差量。
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Use</h6>
            <p>
              <a href="#!" class="text-reset">Vue3.js</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue CLI</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue NUXT3</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p>
              <a href="#!" class="text-reset">ALEX宅幹嘛</a>
            </p>
            <p>
              <a href="#!" class="text-reset">CSScoke</a>
            </p>
            <p>
              <a href="#!" class="text-reset">CwC網頁設計</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="bi bi-house-fill"></i> NCUT Taichung City</p>
            <p>
              <i class="bi bi-envelope-fill"></i>
              maxshen1212@gmail.com
            </p>
            <p><i class="bi bi-telephone-fill"></i> 0937870787</p>

            <a href="#" class="fas me-3 link-secondary">
              <i class="bi bi-github"></i> GitHub
            </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.25)">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="#">Max.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
